# flyctl launch added from .gitignore
**\node_modules
**\.DS_Store
**\.env
**\.env.*
!**\.env.example
**\dist
**\build
**\coverage
**\.vite

# flyctl launch added from node_modules\.pnpm\tailwindcss@3.4.19_tsx@4.21.0\node_modules\tailwindcss\stubs\.gitignore
!node_modules\.pnpm\tailwindcss@3.4.19_tsx@4.21.0\node_modules\tailwindcss\stubs\**\*
fly.toml
